<<<<<<< HEAD
<h1>Pain Tracker</h1>

<%=  javascript_pack_tag "pain-track" %>

<div class="container">
  <div id="app">
    <App />
    <pain-table />
  </div>
</div>
=======
<h1>Home</h1>
<%= react_component 'HelloWorld' %>
>>>>>>> 38a2ee0ea3ab0a69cc3adec52b20191cfb0f9335
